<div class="event-forms">
<div class="event-form">
    <%= form_with(model: @event, local: true) do |f| %>

        <div class="event-area">
            <h1>Title :</h1>
            <%= f.text_field :title, class: 'form-event', id: 'form-event', placeholder: 'タイトル', autofocus: true %>
        </div>

        <div class="event-area">
            <h1>Plan :</h1>
            <%= f.text_field :plan, class: 'form-event', id: 'form-event', placeholder: '内容' %>
        </div>

        <div class="event-area">
            <h1 id="comment-lavel">Comment :</h1>
            <%= f.text_field :comment, class: 'form-event', id: 'comment', placeholder: 'コメント' %>
        </div>

        <div class="event-area">
            <h1 id="place-lavel">Place :</h1>
            <%= f.text_field :place, class: 'form-event', id: 'place', placeholder: '場所' %>
        </div>

        <div class="event-area">
            <h1 id="url-lavel">Url :</h1>
            <%= f.text_field :url, class: 'form-event', id: 'url', placeholder: 'Url' %>
        </div>

        <div class="event-area">
            <h1>Schedule Time :</h1>
            <%= f.datetime_select :start_time, class: 'form-event', id: 'first-show', placeholder: 'times' %>
        </div>

        <div class="event-area">
            <div class="select-btn-area">
                <div class="select-btn">
                    <p class="btn-comment">メモ</p>
                </div>

                <div class="select-btn">
                    <p class="btn-place">場所</p>
                </div>

                <div class="select-btn">
                    <p class="btn-url">URL</p>
                </div>
            </div>
        </div>
            
        <div class="event-area">
            <div class="event-btn-area">
                <div class="event-btn">
                    <%= link_to '戻る', root_path, class: 'actions-btn' %>
                </div>

                <div class="submit-btn">
                    <%= f.submit '保存', class: 'actions-btn', id: "submit-btn" %>
                </div>
            </div>
        </div>
    <% end %>
</div> 
</div>