
<div class="show-container">
    <div class="details">

        <h1>Title :</h1>
        <div class="show-event-content">
            <%= @event.title %>
        </div>

        <h1>Schedule Time :</h1>
        <div class="show-event-content">
            <%= @event.start_time.strftime('%H:%M') %>
        </div>

        <% if @event.plan.present? %>
            <h1>Plan :</h1>
            <div class="show-event-content">
                <%= @event.plan %>
            </div>
        <%end%>

        <% if @event.comment.present? %>
            <h1>Comment :</h1>
            <div class="show-event-content">
                <%= @event.comment %>
            </div>
        <% end %>

        <% if @event.place.present? %>
            <h1>Place :</h1>
            <div class="show-event-content">
                <%= @event.place %>
            </div>
        <% end %>

        <% if @event.url.present? %>
            <h1>Url :</h1>
            <div class="show-event-content">
                <%= @event.url %>
            </div>
        <% end %>

        <div class="show-event-btn">
            <%= link_to '編集', edit_event_path(@event), class: "select-btn", id: 'edit-btn' %>
            <%= link_to '削除', @event, method: :delete, class: "select-btn", id: 'delete-btn', data: { confirm: '削除してもよろしいですか?' } %>
            <%= link_to '戻る', root_path, class: "select-btn", id: 'back-btn' %>
        </div>
    </div>
</div>

