<div class="header-content">
    <div class="header">
        <div class="logo">
            MemoSuke
        </div>

        <div class="icon-area">
            <div class="icon-btn">
                <p id="notice"><%= notice %></p>
            </div>

            <% if user_signed_in? %>
            <div class="icon-btn">
                <%= form_with url: search_posts_path, method: :get, local: true do |f| %>
                    <%= f.text_field :title, class: "search-form" %>
                    <%= f.submit :search, class: "search-form" %>
                <% end %>
            </div>

            <div class="icon-btn">
                <button class="material-icons", id="search-btn"><abbr title="検索">search</abbr></button>
            </div>

            <div class="icon-btn">
                <button class="material-icons", id="mode-btn"><abbr title="メモの追加">mode</abbr></button>
            </div>

            <div class="icon-btn">
                <button class="material-icons"><abbr title="スケジュール追加"><%= link_to 'add',new_event_path, class: 'events-btn', id: 'add-btn' %></abbr></button>
            </div>
            <% end %>

            <div class="icon-btn">
                <button class="material-icons", id="face-btn">face</button>
            </div>

            <div class="navbar", id="navbar">
                <ul class="nav-lists">
                    <% if user_signed_in? %>
                        <li><%= current_user.name %></li>
                        <li><%= link_to '詳細', user_path(current_user.id) %></li>
                        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                    <% else %>
                        <li><%= link_to 'ログイン', new_user_session_path %></li>
                        <li><%= link_to 'サインイン', new_user_registration_path %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>