
<div class="memo-area", id="memo-area">
    <%= form_with(model: @post, local: true) do |f| %>
        <div class="memo-box">
            <p id="notice"><%= notice %></p>
            <h1>Title:<h1>
            <div class="memo-title">
                <%= f.text_area :title, class: "create-memo-title" %>
            </div>
                    
            <h1>Body:</h1>
            <div class="memo-textarea">
                <%= f.text_area :body, class: "create-memo-body" %>
            </div>

            <div class="memo-btn">
                <button type="button" class="actions-btn" id="cancel-btn">戻る</button>
                <%= f.submit '保存', class: 'actions-btn', id: "submit-btn" %>
                <button type="reset" class="actions-btn", id="reset-btn">リセット</button>
            </div>
        </div>
    <% end %>
</div>
