<div class="show-content">
    <%= form_with(model: @post, local: true) do |f| %>
        <div class="show-area">

            <p id="notice"><%= notice %></p>

            <h1>Title:</h1>
            <div class="show-memo-title">
                <%= f.text_area :title, class: 'show-memo-title' %>
            </div>

            <h1>Body:</h1>
            <div class="edit-textarea">
                <%= f.text_area :body, class: 'edit-memo-textarea' %>
            </div>

            <div class="memo-show-btn">
                <%= link_to '戻る', root_path, class: 'actions-btn' %>
                <%= f.submit '保存', class: 'actions-btn', id: 'submit-btn' %>
            </div>

        </div>
    <% end %>
</div>
    