
<div class="show-content">
    <div class="show-area">

        <p id="notice"><%= notice %></p>

        <h1>Title:</h1>
        <div class="show-memo-title">
            <%= @post.title %>
        </div>

        <h1>Body:</h1>
        <div class="show-memo-textarea">
            <%= markdown(@post.body).html_safe %>
        </div>

        <div class="memo-show-btn">
            <%= link_to '戻る', root_path, class: "actions-btn", id: "back-btn" %>
            <%= link_to '削除', post_path(@post.id), method: :delete, class: "actions-btn", id: "delete-btn", data: { confirm: '削除してもよろしいですか?' } %>
            <%= link_to '編集', edit_post_path(@post.id), class: "actions-btn", id: "edit-btn" %>
        </div>
    </div>
</div>